{% extends 'pageflip/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Books
{% endblock %}

{% block body_block %}
    <h1>Books</h1>
    <div class="button-container text-right">
        <button class="btn btn-small pink-button">Register</button>
        <button class="btn btn-small btn-dark-blue">Log in</button>
        <button class="btn btn-dark-blue">Profile</button>
        <button class="btn btn-dark-blue">Books</button>
        <button class="btn btn-dark-blue">Contact Us</button>
    </div>
    <div class="big-pink-container">
        <h2>Science Fiction</h2>
        <p>No subgenres currently present</p>
        <ul>
            {% for subgenre in subgenres %}
                <li>{{ subgenre.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
