{% extends 'pageflip/base.html' %}
{% load static %}

{% block title_block %}
    {{ book.title }}
{% endblock %}

{% block body_block %}
    <div class="book-detail">
        <h2>{{ book.title }}</h2>
        {% if book.average_rating == 5 %}
        <p><strong>Average Rating: ⭐⭐⭐⭐⭐</strong></p>
        {% elif book.average_rating >= 4 %}
        <p><strong>Average Rating: ⭐⭐⭐⭐</strong></p>
        {% elif book.average_rating >= 3 %}
        <p><strong>Average Rating: ⭐⭐⭐</strong></p>
        {% elif book.average_rating >= 2 %}
        <p><strong>Average Rating: ⭐⭐</strong></p>
        {5 elif book.average_rating >= 1 %}
        <p><strong>Average Rating: ⭐</strong></p>
        {% else %}
        <p><strong>Average Rating: No ratings? :(</strong></p>
        {% endif %}
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Year:</strong> {{ book.year_of_publication }}</p>
        <p><strong>Series Info:</strong> {{ book.series_info }}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>
        <p><strong>Subgenres:</strong>
            {% for subgenre in book.subgenres.all %}
                <a href="{% url 'pageflip:books' %}?subgenre={{ subgenre.name }}">{{ subgenre.name }}</a>{% if not forloop.last %}, {% endif %}
            {% empty %}
                No subgenres
            {% endfor %}
        </p>
        
        {% if user.is_authenticated %}
        <form action="{% url 'pageflip:add_rating' book.id %}" method="post" class="rating-form">
            {% csrf_token %}
            <select name="rating" class="rating-select">
                <option value="1">1 Star</option>
                <option value="2">2 Star</option>
                <option value="3">3 Star</option>
                <option value="4">4 Star</option>
                <option value="5">5 Star</option>
            </select>
            <input type="submit" value="Rate me" class="rating-button">
        </form>
        {% endif %}
        
        <br>
        <a href="{% url 'pageflip:books' %}" class="btn btn-dark-blue">Back to Books</a>
    </div>
{% endblock %}

