{% extends 'pageflip/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1 class = "italic-modern">Welcome to Pageflip!</h1>
    <div>
      <strong>{{ boldmessage }}</strong>
    </div>

    <div class="big-pink-container">
        <h2 class = "italic-modern">Most viewed this month</h2>
        <ul>
            <li>Book 1</li>
            <li>Book 2</li>
            <li>Book 3</li>
            <li>Book 4</li>
            <li>Book 5</li>
            <li>Book 6</li>
        </ul>
    </div>

    <div class="lightgray-background">
        <h4>Genre of the Month</h4>
        <p>Science Fiction</p>
    </div>

 
{% endblock %}
