{% extends 'pageflip/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1 class = "italic-classic">Welcome to Pageflip!</h1>
    <div>
      <strong>{{ boldmessage }}</strong>
    </div>

    <div class="container mt-5 pink-background">
        <h2>Highest rated this month</h2>
        <ul>
            {% for book in books %}
            <li class="list-group-item">
                <a href="{%url 'pageflip:book_detail' book.id %}">{{ book.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

 
{% endblock %}
