{% extends 'pageflip/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<div class="big-pink-container">
    <h1>{{ selected_user.username }}'s Profile</h1>
    <img src="{{ MEDIA_URL }}{{ user_profile.profilePicture.url }}"
         width="150"
         height="150"
         class="rounded float-end"
         alt="{{ selected_user.username }}'s profile picture"/>
    <br/>
    <div>
        <p>
            <strong>About me:</strong>
            {{ user_profile.userAboutMe }}
        </p>
        {% if selected_user == user %}
        <a href="{% url 'pageflip:edit_profile' user.username %}" class="btn btn-primary" role="button">Edit profile</a>
        {% else %}
        {% endif %}
    </div>
</div>
{% endblock %}
