{% extends 'pageflip/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<div>
    <h1>Editing {{ selected_user.username }}'s Profile</h1>
</div>

<div class = "big-purple-container">
  <img src="{{ MEDIA_URL }}{{ user_profile.profilePicture.url }}"
         width="300"
         height="300"
         class="rounded float-end"
         alt="{{ selected_user.username }}'s profile picture"/>
  <br/>
    <div>
        <p>
            <strong>About me:</strong>
            {{ user_profile.userAboutMe }}
        </p>
</div>
<div>
  {% if selected_user == user %}
  <form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Save Changes" />
  </form>
  {% else %}
  {% endif %}
</div>
</div>
<script src="{% static "js/pageflip-query.js" %}" crossorigin="anonymous"></script>
{% endblock %}
