{% extends 'pageflip/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register - Profile addons
{% endblock %}

{% block body_block %}
<div>
    <h1>Register Here - Profile addons</h1>
</div>

<div class = "big-purple-container">
    <form method="post" action="{% url 'pageflip:register_profile' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create Profile!"/>
    </form>
</div>
<script src="{% static "js/pageflip-query.js" %}" crossorigin="anonymous"></script>
{% endblock %}
