{% extends 'pageflip/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<div class="big-pink-container">
    <h1 class="italic-classic">{{ selected_user.username }}</h1>
    <img src="{{ MEDIA_URL }}{{ user_profile.profilePicture.url }}"
         width="150"
         height="150"
         class="rounded float-end"
         alt="{{ selected_user.username }}'s profile picture"/>
    <br/>
    <div>
        <p style="text-align: left">
            <strong>About me:</strong>
            {{ user_profile.userAboutMe }}
        </p>

    </div>
    <h2 style="text-align: left">Rated books</h2>
    <ul>
        {% for rating in ratings %}
        <li style="text-align: left">{{ rating.book.title }} - {{ rating.rating }} stars</li>
        {% empty %}
        <li>No ratings? :( Start reading!</li>
        {% endfor %}
         {% if selected_user == user %}
        <a href="{% url 'pageflip:edit_profile' user.username %}" class="btn btn-primary float-end" role="button">Edit profile</a>
        {% else %}
        {% endif %}
    </ul>

</div>
{% endblock %}
